h1 {
	color: #34a0a4;
	text-align: center;
}

h2 {
	font-style: oblique;
	text-align: center;
	color: #52b69a;
}

h3 {
	font-style: normal;
	text-align: center;
	color: #76c893;
}

p {
	color: #99d98c;
	text-align: center;
}

ul {
	color: #b5e48c;
}

body {
	background-color: #168aad;
}

img {
	width: 500px;
	height: auto;
}